# basic django and backend
django>=5.0.6,<6.0.0
django-decorator-include>=3.0,<4.0.0
pymemcache>=4.0.0,<5.0.0
psycopg2-binary>=2.9.9,<3.0.0
git+https://github.com/cfblaeb/django-sendfile.git

# excel export
openpyxl>=3.1.3,<4.0.0

# server
uwsgi>=2.0.26,<3.0.0

# django reversions
django-reversion>=5.0.12,<6.0.0
django-reversion-compare>=0.17.0,<2.0.0

# frontend
django-autocomplete-light>=3.11.0,<4.0.0
django-widgets-improved>=1.5.0,<2.0.0

# API access
djangorestframework>=3.15.1,<4.0.0
markdown>=3.6,<4.0.0
django-filter>=24.2,<26.0

drf-spectacular>=0.27.2, <1.0.0

django-ufilter>=0.4.3,<1.0.0
django-crispy-forms>=2.1,<3.0.0

# login
django-auth-ldap>=5.0.0,<6.0.0
