html {
    height: 100%;
}
body {
    /*min-height: 100%;*/
    height: 97%;
    background-color: antiquewhite;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root, #storage_root, #box_observer_root{
    height: 100%;
}

/* Used by Simonwep/selection */
.selection-area {
    background: rgba(46, 115, 252, 0.11);
    border: 2px solid rgba(98, 155, 255, 0.81);
    border-radius: 0.1em;
}

.container {
    user-select: none;
}

.selectable {
    background-color: white;
    border: black solid medium;
    min-width: 50px;
    min-height: 50px;
    word-wrap: break-word;
}

.empty_position {
    background-color: lightgrey;
}

.selected {
    background-color: orangered;
}

.vial_editors {
    width: 100%;
}
