{% extends 'GBEX_app/app_base.html' %}
{% load laeb_tags %}
{% load static %}

{% block base_css %}
    <link href="{% static 'navbar.css' %}" rel="stylesheet">
{% endblock %}
{% block app_css_block %}
    <link href="{% static 'css/main.60b36b0c.css' %}" rel="stylesheet">
    <style>
    #navbar {
        font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 13px;
        margin-left: -15px;
    }
    </style>
{% endblock %}
{% block content %}
    <div id="root"></div>
{% endblock %}
{% block page_js_block %}
    <script defer="defer" src="{% static 'js/main.6780a9a4.js' %}"></script>
{% endblock %}
{% block nav_li_buttons %}
    {% links "Storage" "/" "GBEX" %}
{% endblock %}